html, body {
	font-family: helvetica, arial;
	padding: 0;
	margin: 0;
	color: #333;
}
h4 {
	font-size: 1.5em;
	margin:0.50em;
	padding:0;
}
h5 {
	font-size: 1.2em;
	margin:0.50em;
	padding:0;
}
p {
	font-size: 1em;
	margin:0.50em;
	padding:0;
	color: #666;
	line-height: 1.5em;
}
#funnelHolder {
	position: relative;
	margin: 50px;
	width: 1000px;
	height: 550px;
	border-radius: 1em;
}
#purchaseFunnel {
	width:600px;
	height: 500px;
	margin: 30px 0 0 15px;
	float: left;
}
#sliderWrap {
	width: 55%;
	margin-left: 40px;
}
#infoBox {
	position: absolute;
	width: 360px;
	height: auto;
	top: 120px;
	left: 550px;
}
.changeData {
	position: absolute;
	left: 50px;
	bottom: 50px;
}
.infoDiv {
	display: none;
}